</br>
<div class=>
  <div class="opaqueback">
    <div class="dashname">
  <h1>Hello {{name}}</h1>
    <div>
        <h2>Your QR Codes:</h2>
    </div>
    </div>
    </div>
  </div>
<div>
  {{#if qrlinks.length}}
  <div class="qrcard" style="width: 600px; margin:auto;">
    
      <blockquote class=" d-block blockquote mb-0">
         {{#each qrlinks as |qrlink|}}
         </br>
         <div class="dashname">
          <img src="https://qrickit.com/api/qr.php?d={{qrlink.description}}&addtext={{qrlink.description}}&qrsize=150&t=p&e=m" alt="QRCODE">
           <h4>{{format_date qrlink.date_created}}</h4>
           </div>
          {{/each}}
      </blockquote>
    
    </br>
  </div>
  </br>
  {{/if}}
</div>
<script src="/js/newUrl.js" ></script>

