<div class='card-header col-md-10'>
<body>
<h1>Hello {{user.name}}</h1>
    <div>
        <h2>URLs-Recently-Generated</h2>
    </div>
    <div class="link-group"></div>
     {{#each QRlink as |Link|}}
                <li>{{Link.description}}</li>
               {{#each }} 
    </div>
     <button id="clear">Clear Results</button>
</div>              

