<div class = "opaqueback">
<div class="homepage">

  <div id='homepageText'>
    </br>
    <p>Enter the QR code transformation realm at QREmpire.com. Create an account to access a suite of powerful tools. 
    Discover the QR code community, see the number of QR codes you've generated, and be inspired by others' prolific creations. 
    Experience the magic of URL transformation at QREmpire.com.
  </p>
  </br>
  </div>
  
</div>
</div>

</br>
<div class = "opaqueback">
<div class="margin font">
  </br>
<label for="exampleDataList"  class="form-label text-dark text-bold ">Insert a Link of Your Choice:</label>
<p>
  <input class="form-control font" id="UrlBtn" placeholder="Link .."> 
</p>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary font" type="button" id="newUrlBtn">Generate</button>
</div>
</br>
</div>
</div>
</br>

<div class="margin homepage">

<div>

<script src="/js/newUrl.js" ></script>