</br>
<form id="login" class="login margin" method="post">
  <div>
    <label for="exampleInputEmail1" class="font">Email address</label>
    <input name="email" type="email" class="form-control font" id="email-login" placeholder="Enter email">
     <div class="never">
    <small id="emailHelp" class="form-text text-muted font">We'll never share your email with anyone else.</small>
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="font">Password</label>
    <input type="password" class="form-control font" id="password-login" name="password" placeholder="Password">
  </div>
  </br>
  <button class="btn btn-primary font" type="button" id="loginBtn">Submit</button>
  </br>
</form>


<a id="signup" class="instead" href="/signup">Sign Up Instead</a>
</br>

<script src="/js/login.js"></script>