
body {
    background-image:url("./assets/146685.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.margin{
    margin-left: 300px;
    margin-right: 300px;
}
.font {
    font-size: 25px;
    color: white;
}
.homepage{
    background-color: beige;
    font-size: 25px;
    color: black;
}
.header{
    background-image:url("./assets/146685.jpg");
}
